.leaderboards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

.record{
  display:grid;
  justify-self: center;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.leaderboards > button{
  margin: 20px;
  width: 20%
}
